{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./templates/components",
      }
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
}